<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div id="topmenu" class="navbar">
    <a href="#home">File</a>
    <div class="dropdown">
      <button class="dropbtn">Edit 
        <!--<i class="fa fa-caret-down"></i>-->
      </button>
      <div class="dropdown-content">
        <button href="" onclick="mobilePerformanceSetup()">test player</button>
        <a href="">Load</a>
        <a href="">Open Separate Window</a>
        <a href="">Spectrogram</a>
        <a href="">ML New Window</a>
      </div>
    </div> 
    <a href="#home" onclick="window.close();">Exit</a>
  </div>
  <div id="bottommenu"></div>
  <!--<div id="spectogramdisplay"></div>-->

  <br><br><br>

  <!--<canvas id="viewport" height="512" width="700"></canvas>-->

  <div id="firstContainer">
  <div id="cont1">
    <!--<div class="start-stop">-->
      <!--<span>Listen</span><br>-->
      <button id="start" class="startstop">Start</button>
      <button id="stop" class="startstop">Stop</button>
      <br><br><br><br>
    </div>
    <div id="cont2">

      <div id="probabil">Probability</div>
    </div>

    <div id="cont3">
        <!--<span style="display:block">Prob. threshold:</span>-->
        <span>Threshold</span>
        <input style="display:block" class="thresh" size="5" id="proba-threshold" value="0.75">
    </div>
  
    <!--</div>-->
    <div id="cont4">
      <br>
      <div id="candidate-words" class="candidate-words"></div>
    </div>

    <div id="cont5">
    </div>
    <!--<div id="cont5_">
    </div>-->

    <div id="cont6">
    </div>

    <div id="cont7">
      <button style="font-size:14px" onclick="playStopFile('play')" class="btnsFile"><i class="fa fa-play"></i></button>
      <button style="font-size:14px" onclick="playStopFile('pause')" class="btnsFile"><i class="fa fa-pause"></i></button>
      <button style="font-size:14px" onclick="playStopFile('stop')" class="btnsFile"><i class="fa fa-stop"></i></button>
      <button style="font-size:14px" type="button" id="file-input" onclick="readSingleFile()" class="btnsFile"><i class="fa fa-bars"></i>
      <input type="file" id="my_file">
    </div>
    <div id="cont8">
      <button style="font-size:14px" onclick="addAnnot('add')" class="btnsFile"><i style='font-size:14px' class='fas'>&#xf065;</i></button>
      <button style="font-size:14px" onclick="socketMusic()" class="btnsFile"><i style="font-size:14px" class="fa">&#xf101;</i></button>
    </div>
    <div id="cont9">
    </div>

    <div id="sockettimeline1">
      <!--<div id="aboutAnnot">ok</div>-->
      
    </div>
    
  <!--
  <div id="sequence1"></div><br>
  <div id="sequence2"></div><br>
  <div id="sequence3"></div>-->
  </div>

  <br>
  <div id="secondContainer">

    <div id="cont10">
      Amazon S3 Repository
    </div>
    <div id="cont11">
      Trained Models<br>
    </div>
    <div id="cont12">
      Recorded Datasets<br>
    </div>

    <div id="cont13">
      IO Methods<br>
    </div>

    <div id="cont14">
      Current Model<br><br>
      <button id="save-transfer-model" disabled="true" class="amazonClass" style="text-align: center; display: none;">Save Model to Cloud</button>
      <button id="save-transfer-model-disk"  disabled="true" class="amazonClass" style="text-align: center;">Save Model to Disk</button>
      <button id="delete-transfer-model" class="amazonClass" style="text-align: center;">Delete Model</button>
      
      <input type="file" id="modeldiskload" onchange="loadFile(this.files[0])" class="amazonClass" style="display: none;">
      <button id="load-transfer-model" class="amazonClass" style="text-align: center;">Load Model from Disk</button>

      <select id="saved-transfer-models" class="select1">
      <option value="1"></option>
      </select>
    </div>
    <div id="cont15">
      Current Dataset<br><br>
      <button id="download-dataset" disabled="true" class="amazonClass" style="text-align: center;"><!--↓ -->Download Dataset as File</button>
      <button id="upload-dataset" class="amazonClass" style="text-align: center;"><!--↑ -->Upload Dataset from File</button>
      <input type="file" id="dataset-file-input" class="amazonClass" style="display: none;">
      <button id="eval-model-on-dataset" class="amazonClass" style="text-align: center;">Evaluate Model on Dataset</button>
    </div>

  </div>

  <div id="thirdContainer">
  <!--<div class="footer" style="display: block;">
    <textarea id="status-display" style="display: block" cols="80" readonly="true"></textarea>
  </div>-->
  <div class="transfer-learn-section">
    <div id="modelname">
      Model Name
      <input id="transfer-model-name" size="20" placeholder="Model Name" style="text-align: center;">
    </div>
    <div id="_worddiv">
      Sound Names
      <input id="learn-words" size="36" value="_background_noise_,red,green">
    </div>
    <div id="attrs1">
      Sound Properties <br>
      <select id="duration-multiplier">
        <option value="1">Duration x1</option>
        <option value="2">Duration x2</option>
        <option value="3" selected="true">Duration x3</option>
        <option value="4">Duration x4</option>
      </select>
      <button id="includewav" onclick="includewavform()">Include Sound</button>

      <!--<input type="checkbox" id="include-audio-waveform">
      <span id="include-audio-waveform-label"></span>Include audio waveform</span>
      Include audio waveform-->
  
      <button id="enter-learn-words">Start Transfer</button>
    </div>

    <div id="specplot">
      <div id="transfer-learn-history"></div>
      <div id="collect-words"></div>
    </div>
    <div id="barprog"></div>
    </div>
  </div>

  <div id="fourthContainer">

    <div id="fourthdiv1">
      <span>Epochs</span><br>
      <input class="settings" size="5" id="epochs" value="15">
    </div>
    <div id="fourthdiv2">
      <span>Fine-Tuning Epochs</span>
      <!--<span>Fine-Tuning (FT) Epochs</span>-->
      <input class="settings" size="5" id="fine-tuning-epochs" value="0">
    </div>
    <div id="fourthdiv3">
      <span>Mix Noise</span>
      <button id="mixnoise" onclick="augmentnoisemix()">Augment</button>
      <!--<input type="checkbox" id="augment-by-mixing-noise">-->
    </div>
    <div id="fourthdiv4">
      <span>Train</span>
      <button id="start-transfer-learn" disabled="true">Start Training</button>
    </div>
    <div id="fourthdiv5">
      <span>Clean Graph</span>
      <button id="clean-graph-data">---</button>
    </div>

    <div id="plots">
      <div id="loss-plot" class="plots"></div>
    </div>
    <div id="plots1">
      <div id="accuracy-plot" class="plots"></div>

    </div>
      <!--<div>
        <div>
          <span id="eval-results" class="eval-results"></span>
        </div>
        <div id="roc-plot" class="plots"></div>
      </div>-->


    
  </div>
  <div id="fifthContainer">
    <div id="cont16">
      State Interaction<br>
    </div>
  </div>
  <a id="downloadAnchorElem" style="display:none"></a>

  <script src="https://unpkg.com/@tensorflow/tfjs"></script>
  <script src="https://unpkg.com/@tensorflow-models/speech-commands"></script>

  <script src="https://unpkg.com/wavesurfer.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.minimap.min.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.cursor.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.timeline.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.spectrogram.min.js"></script>
  
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/static/scripts/libs/spectrogram.js"></script>

  <script src="/static/scripts/libs/jsonserialize.js"></script>

  <script src="/static/scripts/xperimus.js"></script>

</body>
</html>