<!DOCTYPE html>
<html lang="en">

<head>
  <title>Xperimus Sttera</title>

    <script src="/static/scripts/libs/codemirror.js"></script>
    <script src="/static/scripts/libs/javascript.js"></script>
    <script src="/static/scripts/libs/runmode.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/codemirror.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mbo.css') }}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <div id="topmenu" class="navbar">
    <a href="#home">File</a>
    <div class="dropdown">
      <button class="dropbtn">Edit 
        <!--<i class="fa fa-caret-down"></i>-->
      </button>
      <div class="dropdown-content">
        <button href="" onclick="mobilePerformanceSetup()">test player</button>
        <a href="">Load</a>
        <a href="">Open Separate Window</a>
        <a href="">Spectrogram</a>
        <a href="">ML New Window</a>
      </div>
    </div> 
    <a href="#home" onclick="window.close();">Exit</a>
  </div>
  <div id="bottommenu"></div>
  <!--<div id="spectogramdisplay"></div>-->

  <br><br><br>

  <!--<canvas id="viewport" height="512" width="700"></canvas>-->
<div id="first-page" style="position: absolute; right: 0px; top: 0px; height: 100%; width: 100%; background-color: #2c2c2c; z-index: 99;">

  <div id="firstContainer">
  <div id="cont1">
    <!--<div class="start-stop">-->
      <!--<span>Listen</span><br>-->
      <button id="start" class="startstop">Start</button>
      <button id="stop" class="startstop">Stop</button>
      <br><br><br><br>
    </div>
    <div id="cont2">

      <div id="probabil">Probability</div>
    </div>

    <div id="cont3">
        <!--<span style="display:block">Prob. threshold:</span>-->
        <span>Threshold</span>
        <input style="display:block" class="thresh" size="5" id="proba-threshold" value="0.75">
    </div>
  
    <!--</div>-->
    <div id="cont4">
      <br>
      <div id="candidate-words" class="candidate-words"></div>
    </div>

    <div id="cont5">
    </div>
    <!--<div id="cont5_">
    </div>-->

    <div id="cont6" style="display: hidden">
    </div>

    <div id="cont7">
      <button style="font-size:14px; width: 13%; height: 80%;" onclick="playStopFile('play')" class="btnsFile"><i class="fa fa-play"></i></button>
      <button style="font-size:14px; width: 13%; height: 80%;" onclick="playStopFile('pause')" class="btnsFile"><i class="fa fa-pause"></i></button>
      <button style="font-size:14px; width: 13%; height: 80%;" onclick="playStopFile('stop')" class="btnsFile"><i class="fa fa-stop"></i></button>
      <button style="font-size:14px; width: 13%; height: 80%;" type="button" id="file-input" onclick="readSingleFile()" class="btnsFile"><i class="fa fa-bars"></i></button>
      <input type="file" id="my_file">
      <button style="font-size:14px; width: 13%; height: 80%;" onclick="addAnnot('add')" class="btnsFile"><i class='fa fa-indent'></i></button>
      <button style="font-size:14px; width: 13%; height: 80%;" onclick="removeAnnots()" class="btnsFile"><i class="fa fa-undo"></i></button>
      <button style="font-size:14px; width: 13%; height: 80%;" onclick="spectrogramNewWindow()" class="btnsFile"><i class="fa fa-copy"></i></button>

    </div>

    <div id="cont9">
      <div id="blink-when-region" style="position: absolute; width: calc(27% - 3px); height: 59%; border-radius: 3px; border: 1px solid black; top: 20%; left: 5%; color: rgba(200,200,200,1); background-color: #353535;"></div>
      <!--::-webkit-scrollbar-corner {
        background: rgba(0,0,0,0);
      }-->
    </div>

    <div id="sockettimeline1">
      <div id="aboutAnnot" style="text-align: left; vertical-align: auto;">
        <div id="annotID" style="position: absolute; width: calc(100% - 3px); height: 17%; border-radius: 3px; border: 1px solid black; top: 1px; left: 0px; color: rgba(200,200,200,1); background-color: #353535;">
          <span style="position: absolute; left: 3%; top: 11%;">Annotation ID</span>
          <input id="idval" onclick="" style="position: absolute; right: 1px; top: 1px; border-radius: 3px;  border: 1px solid black; width: 40%; background-color: rgba(32,32,32,1); color: rgba(200,200,200,1); height: 65%; text-align: center;" value="ID Value">
        </div>
        <div id="annotSeconds" style="position: absolute; width: calc(100% - 3px); height: 17%; border-radius: 3px; border: 1px solid black; top: calc(17% + 4px); left: 0px; color: rgba(200,200,200,1); background-color: #353535">
          <span style="position: absolute; left: 3%; top: 11%;">Length in Secs</span>
          <input id="idlength" onclick="" style="position: absolute; right: 1px; top: 1px; border-radius: 3px;  border: 1px solid black; width: 40%; background-color: rgba(32,32,32,1); color: rgba(200,200,200,1); text-align: center; height: 65%;" value="00:000-00:000">
        </div>

        <div id="annotTrained" style="position: absolute; width: calc(100% - 3px); height: 17%; border-radius: 3px; border: 1px solid black; top: calc(34% + 7px); left: 0px; color: rgba(200,200,200,1); background-color: #353535">
          <span style="position: absolute; left: 3%; top: 11%;">Trigger when Detect</span>
          <input id="triggerspace" onclick="" style="position: absolute; right: 1px; top: 1px; border-radius: 3px;  border: 1px solid black; width: 40%; background-color: rgba(32,32,32,1); color: rgba(200,200,200,1); text-align: center; height: 65%;" value="00:000-00:000">
        </div>
        
        <div id="annotSocket" style="position: absolute; width: calc(100% - 3px); height: 17%; border-radius: 3px; border: 1px solid black; top: calc(51% + 10px); left: 0px; color: rgba(200,200,200,1); background-color: #353535">
          <span style="position: absolute; left: 3%; top: 11%;">Stream Region</span>
          <button onclick="sendingDataSockets()" id="streamButton" style="position: absolute; right: 1px; top: 1px; border-radius: 3px; height: 98%; border: 1px solid black; color: rgba(200,200,200,1); width: calc(41% + 0px); background-color: rgba(32,32,32,1); z-index: 5; text-align: center; height: 90%;" >Send Users</button>
        </div>
        <div id="annotPlay" style="position: absolute; width: calc(100% - 3px); height: 17%; border-radius: 3px; border: 1px solid black; top: calc(68% + 13px); left: 0px; color: rgba(200,200,200,1); background-color: #353535">
          <span style="position: absolute; left: 3%; top: 11%;">P-S-E Region</span>
        <button  id="playRegionButton1" onclick="playstopRegion('play')" style="position: absolute; right: calc(26% + 7px); top: 1px; border-radius: 3px;  border: 1px solid black; width: 13%; background-color: rgba(32,32,32,1); color: rgba(200,200,200,1); height: 85%; z-index: 5;">P</button>
        <button  id="playRegionButton2" onclick="playstopRegion('stop')" style="position: absolute; right: calc(13% + 4px); top: 1px; border-radius: 3px;  border: 1px solid black; width: 13%; background-color: rgba(32,32,32,1); color: rgba(200,200,200,1); height: 85%; z-index: 5;">S</button>
        <button  id="playRegionButton3" onclick="playstopRegion('close')" style="position: absolute; right: 1px; top: 1px; border-radius: 3px;  border: 1px solid black; width: 13%; background-color: rgba(32,32,32,1); color: rgba(200,200,200,1); height: 85%; z-index: 5;">X</button>
        </div>

      </div>
      <div id="sendAnnot">

        <div id="sendmanual" style="position: absolute; width: calc(100% - 4px); height: 17%; border-radius: 3px; border: 1px solid black; top: 1px; left: 1px; color: rgba(200,200,200,1); background-color: #202020; text-align: center; height: 17%; padding-top: 5px;">
          Send Manually
        </div>
        <div id="sendannotfill" style="position: absolute; width: calc(100% - 4px); height: 17%; border-radius: 3px; border: 1px solid black; top: calc(28% - 2px); left: 1px; color: rgba(200,200,200,1); background-color: #353535; text-align: center; height: calc(67% - 1px); padding-top: 5px;"></div>

      </div>


    </div>

    <!--<div id="micspec" style="width: 100%; height: 20%; position: absolute; bottom: 0px; background-color: red;"></div>-->
    
    <div id="cont9_">
      <div id="detectionarray" style="position: absolute; top: 2px; left: 2px; font-size: 10px; background-color: rgba(53,53,53,1); color: rgba(200,200,200,1); border: 1px solid black; border-radius: 3px; text-align: center; height: 92%;  width: 99%; overflow-y: auto;">
        
      </div>
    </div>

  </div>

  <br>
  <div id="secondContainer">

    <div id="cont10">
      Amazon S3 Repository
    </div>
    <div id="cont11">
      Trained Models<br>
    </div>
    <div id="cont12">
      Recorded Datasets<br>
    </div>

  </div>

  <div id="thirdContainer">
  <!--<div class="footer" style="display: block;">
    <textarea id="status-display" style="display: block" cols="80" readonly="true"></textarea>
  </div>-->
  <div class="transfer-learn-section">
    <div id="modelname">
      Model Name
      <input id="transfer-model-name" size="20" placeholder="Model Name" style="text-align: center;">
    </div>
    <div id="_worddiv">
      Sound Names
      <input id="learn-words" style="text-align: center;"size="36" value="Guitar, Piano">
    </div>
    <div id="attrs1">
      Sound Properties <br>
      <select id="duration-multiplier">
        <option value="1">Duration x1</option>
        <option value="2">Duration x2</option>
        <option value="3" selected="true">Duration x3</option>
        <option value="4">Duration x4</option>
      </select>
      <button id="includewav" onclick="includewavform()">Include Sound</button>

      <!--<input type="checkbox" id="include-audio-waveform">
      <span id="include-audio-waveform-label"></span>Include audio waveform</span>
      Include audio waveform-->
  
      <button id="enter-learn-words">Start Transfer</button>
    </div>

    <div id="specplot">
      <div id="transfer-learn-history"></div>
      <div id="collect-words"></div>
    </div>
    <div id="barprog"></div>
    </div>
  </div>

  <div id="fourthContainer">

    <div id="fourthdiv1">
      <span>Epochs</span><br>
      <input class="settings" size="5" id="epochs" value="15">
    </div>
    <div id="fourthdiv2">
      <span>Fine-T Epochs</span>
      <!--<span>Fine-Tuning (FT) Epochs</span>-->
      <input class="settings" size="5" id="fine-tuning-epochs" value="0">
    </div>
    <div id="fourthdiv3">
      <span>Mix Noise</span>
      <button id="mixnoise" onclick="augmentnoisemix()">Augment</button>
      <!--<input type="checkbox" id="augment-by-mixing-noise">-->
    </div>
    <div id="fourthdiv4">
      <span>Train</span>
      <button id="start-transfer-learn" disabled="true">Start Training</button>
    </div>
    <div id="fourthdiv5">
      <span>Clean Graph</span>
      <button id="clean-graph-data">---</button>
    </div>
    <div id="fourthdiv6">
      <div id="cont13">
        IO Methods<br>
      </div>
  
      <div id="cont14">
        Current Model
        <button id="save-transfer-model" disabled="true" class="amazonClass" style="text-align: center; display: none;">Save Model to Cloud</button>
        <button id="save-transfer-model-disk"  disabled="true" class="amazonClass" style="text-align: center; margin-top: 3px; width: 98%; margin-bottom: 2px;">Save Model to Disk</button>
        <button id="delete-transfer-model" class="amazonClass" style="text-align: center; width: 98%; margin-bottom: 2px;">Delete Model</button>
        
        <input type="file" id="modeldiskload" onchange="loadFile(this.files[0])" class="amazonClass" style="display: none;">
        <button id="load-transfer-model" class="amazonClass" style="text-align: center; width: 98%;">Load Model from Cloud</button>
  
        <select id="saved-transfer-models" class="select1">
        <option value="1"></option>
        </select>
      </div>
      <div id="cont15">
        Current Dataset<br>
        <button id="download-dataset" disabled="true" class="amazonClass" style="text-align: center; margin-top: 3px; width: 98%; margin-bottom: 2px; margin-left: -1px"><!--↓ -->Download Dataset as File</button>
        <button id="upload-dataset" class="amazonClass" style="text-align: center;  width: 98%; margin-bottom: 2px; margin-left: -1px"><!--↑ -->Upload Dataset from File</button>
        <input type="file" id="dataset-file-input" class="amazonClass" style="display: none; width: 98%;">
        <button id="eval-model-on-dataset" class="amazonClass" style="text-align: center; width: 98%; margin-left: -1px">Evaluate Model on Dataset</button>
      </div>
    </div>

    <div id="plots">
      <div id="loss-plot" class="plots"></div>
    </div>
    <div id="plots1">
      <div id="accuracy-plot" class="plots"></div>

    </div>
      <!--<div>
        <div>
          <span id="eval-results" class="eval-results"></span>
        </div>
        <div id="roc-plot" class="plots"></div>
      </div>-->


    
  </div>

</div>
<div id="second-page" style="position: absolute; right: 0px; top: 0px; height: 100%; width: 100%;">
  <div id="editor-div" style="position: absolute; left: 5px; top: 30px; width: 49%; height: 50%; border-radius: 3px; background-color: grey;"></div>
  <button id="run-code" style="position: absolute; background-color: #2c2c2c; border-radius: 3px; color: rgba(200,200,200,1); left: 5px; top: 55%; width: 7%; height: 3%;" onclick="runcode()">Run Code</button>
  <button id="stop-button" style="position: absolute; background-color: #2c2c2c; border-radius: 3px; color: rgba(200,200,200,1); left: 8%; top: 55%; width: 7%; height: 3%;">Stop Code</button>

  <div id="socketblink" style="position: absolute; background-color: #2c2c2c; border-radius: 3px; color: rgba(200,200,200,1); left: calc(16% - 4px); top: 55%; border: 1px solid rgba(200,200,200,1); padding-top: 2px; width: 3%; text-align: center; height: calc(2% + 3px);">S</div>
  <div id="socketblinkrcv" style="position: absolute; background-color: #2c2c2c; border-radius: 3px; color: rgba(200,200,200,1); left: calc(20% - 5px); top: 55%; border: 1px solid rgba(200,200,200,1); padding-top: 2px; width: 3%; text-align: center; height: calc(2% + 3px);">R</div>
  <select id="selectlist" onchange="populateCM()" style="position: absolute; background-color: #2c2c2c; border-radius: 3px; color: rgba(200,200,200,1); left: 23%; top: calc(54% + 2px); border: 1px solid rgba(200,200,200,1); padding-top: 2px; width: 6%; text-align: center; height:3%;">
    <option value="Examples">Examples</option>
    <option value="Emitter">Emitter</option>
    <option value="Receiver">Receiver</option>
    <option value="Generators">Generators</option>
    <option value="Document">Document</option>
    </select>

  <div id="draw-canvas" style="position: absolute; left: calc(3px + 29%); top: calc(28px + 30%); width: 20%; height: 20%; border-radius: 3px; background-color: rgba(40,40,40,1);"></div>  
  <!--<div id="console-text" style="position: absolute; right: 5px; top: 55%; width: 49%; height: 15%; border-radius: 3px; background-color: grey; display: flex; align-items: flex-start; justify-content: flex-end; flex-direction: column; overflow-y: auto;"></div>-->

  <div id="fifthContainer">
    <div id="orques" style="position: absolute; padding-top: 8px; left: 1px; top: 1px; width: calc(100% - 2px); height: calc(4% + 5px); background-color: #202020; text-align: center; border-radius: 3px;">
      Orquestrate and Interact
    </div>
    <div id="cont16">
      Interaction Group
      <input type="text" id="interroom" name="room" value="New Room" style="background-color: #353535; text-align: center; border-radius: 3px; border: 1px solid black; color: rgba(220,220,220,1); width: 78%; height: 14%; margin-top: 3px; margin-bottom: 3px;"><br>
      
      <button id="lock-room" style="font-size: 10px; background-color: #353535; text-align: center; border-radius: 3px; border: 1px solid black; color: rgba(220,220,220,1); width: 39%; margin-bottom: 3px; margin-left: -1%;">Lock</button>
      <button id="new-room" style="font-size: 10px; background-color: #353535; text-align: center; border-radius: 3px; border: 1px solid black; color: rgba(220,220,220,1); width: 39%; ">New</button>
    
      <div id="number-connected-users" disabled="true" style="position: absolute; width: 37% !important; left: calc(1% - 2px); background-color: #353535; padding-bottom: 2px; border: 1px solid black; width: 10%; border-radius: 3px; margin-left: 10%; height: calc(8% - 1px); margin-top: 0px;">0</div>
      <button id="stop-room-connect" style="position: absolute; right: 10%; top: 42%; background-color: #353535; padding-top: 0px; border: 1px solid black; border-radius: 3px; color: rgba(220,220,220,1); width: 40%; margin-left: 10%; height: calc(10% + 0px); margin-top: 3px;">Stop</button>
      <button id="refresh-room-connect" style="position: absolute; left: calc(1% - 2px); top: 54%; background-color: #353535; border: 1px solid black; border-radius: 3px; color: rgba(220,220,220,1); width: calc(38% + 1px); margin-left: 10%; height: calc(10% + 1px); margin-top: 3px;  text-align: center;">Refrsh</button>
      <button id="add-room-players" style="position: absolute; text-align: center; right: calc(8% + 3px); top: calc(54% - 0px); background-color: #353535; padding-top: 1px; border: 1px solid black; border-radius: 3px; color: rgba(220,220,220,1); width: calc(40% - 1px); margin-left: 10%; height: calc(10% + 1px); margin-top: 3px;">Add</button>

      <input type="text" id="enter-room" value="Find Room" style="background-color: #353535; position: absolute; top: calc(66% + 1px); left: calc(10% - 1px); text-align: center; border-radius: 3px; border: 1px solid black; color: rgba(220,220,220,1); width: calc(78% - 1px); height: 14%; margin-top: 3px; margin-bottom: 3px;"><br>
      <button id="send-room" style="position: absolute; top: 87%; left: calc(10% - 1px); font-size: 10px; background-color: #353535; text-align: center; border-radius: 3px; border: 1px solid black; color: rgba(220,220,220,1); width: 39%; margin-bottom: 3px; height: calc(10% + 1px);">Send</button>
      <button id="new-send-room" style="position: absolute; top: 87%; font-size: 10px; background-color: #353535; text-align: center; border-radius: 3px; border: 1px solid black; color: rgba(220,220,220,1); width: 39%; height: calc(10% + 1px);">Other</button>



    </div>

      <div id="house" style="width: calc(70% - 1px); height: 30%; position: absolute; right: 1px; top: calc(7% + 3px); border-radius: 3px; background-color: rgba(52,52,52,1);">
        <pre style="position: absolute; top: -10px; left: 35%; border-radius: 3px; font-family: inherit;"><span style="background-color:rgba(32,32,32,1); color: rgba(200,200,200,1); border-radius: 3px;"></span></pre>
        <pre style="position: absolute; bottom: -10px; left: 35%; border-radius: 3px; font-family: inherit;"><span style="background-color:rgba(32,32,32,1); color: rgba(200,200,200,1); border-radius: 3px;"></span></pre>
        
        <pre style="position: absolute; bottom: 48%; left: -14%; border-radius: 3px; font-family: inherit;"><span class="rotate1"></span></pre>
        <pre style="position: absolute; bottom: 48%; right: 18%; border-radius: 3px; font-family: inherit;"><span class="rotate2"></span></pre>

        <div id="lefttop" style="position: absolute; left: 0px; top: 0px; width: calc(100% - 0px); height: 100%; border-radius: 3px; background-color: rgba(32,32,32,1);"></div>
        <div id="righttop" style="position: absolute; right: 0px; top: 0px; width: calc(33% + 2px); height: 26%; border-radius: 3px; background-color: rgba(32,32,32,1);"></div>
        <div id="leftbottom" style="position: absolute; left: 0px; bottom: 0px; width: calc(35% - 2px); height: 26%; border-radius: 3px; background-color: rgba(32,32,32,1);"></div>
        <div id="rightbottom" style="position: absolute; right: 0px; bottom: 0px; width: calc(33% + 2px); height: 26%; border-radius: 3px; background-color: rgba(32,32,32,1);"></div>

        <div id="room" style="width: calc(96% - 2px); height: 86%; position: absolute; left: 2%; top: 7%; border-radius: 3px; background-color: rgba(52,52,52,1); border: 1px solid rgba(72,72,72,1); overflow-y: auto;">

          </div>
        <canvas id="door" style="position: absolute; width: 20%; height: 25%; top: 55%; left: 2%;"></canvas>

      </div>
  </div>

  <div id="cont10_">
    <button id="audiofile" style="position: absolute; top: 2px; left: 3px; font-size: 10px; background-color: rgba(53,53,53,1); color: rgba(200,200,200,1); border: 1px solid black; border-radius: 3px; text-align: center; height: 20%;  width: 20%;">Stream Local Audio File</button>
    <input type="file" id="audio-file" style="display: none">

    <div id="trigger-when-play" style="position: absolute; padding-top: 1px; top: 2px; left: 21%; font-size: 10px; background-color: rgba(53,53,53,1); color: rgba(200,200,200,1); border: 1px solid black; border-radius: 3px; text-align: center; height: calc(18%);  width: 20%;">Trigger With <br>Region</div>
    <div id="trigger-when-mic" style="position: absolute; padding-top: 1px; top: 2px; left: calc(42% - 2px); font-size: 10px; background-color: rgba(53,53,53,1); color: rgba(200,200,200,1); border: 1px solid black; border-radius: 3px; text-align: center; height: calc(18%);  width: 20%;">Trigger With Microphone</div>


    <div id="name-audio-file" style="position: absolute; padding-top: 2px; padding-left: 4px; top: 2px; width: 35%; height: calc(11% - 1px); right: 2px; background-color: rgba(53,53,53,1); color: rgba(200,200,200,1); border: 1px solid black; border-radius: 3px;"> Name 
      <div id="name-audio-file-fill" style="position: absolute; padding-left: 2px; top: 1px; width:60%; height: calc(74% - 0px); right: 1px; background-color: rgba(33,33,33,1); color: rgba(200,200,200,1); border: 1px solid black; text-align: center; border-radius: 3px;"></div>
    </div>
    <div id="type-audio-file" style="position: absolute; top: calc(12% + 4px); padding-top: 2px; padding-left: 4px; width: 35%; height: calc(10% - 1px); right: 2px; background-color: rgba(53,53,53,1); color: rgba(200,200,200,1); border: 1px solid black; border-radius: 3px;"> Type 
      <div id="type-audio-file-fill" style="position: absolute; padding-left: 2px; top: 1px; width:60%; height: calc(74% - 0px); right: 1px; background-color: rgba(33,33,33,1); color: rgba(200,200,200,1); border: 1px solid black; text-align: center; border-radius: 3px;"></div>
    </div>

    <div id="size-audio-file" style="position: absolute; top: calc(24% + 5px); padding-top: 2px; padding-left: 4px; width: 35%; height: calc(10% - 1px); right: 2px; background-color: rgba(53,53,53,1); color: rgba(200,200,200,1); border: 1px solid black; border-radius: 3px;"> Size 
      <div id="size-audio-file-fill" style="position: absolute; padding-left: 2px; top: 1px; width:60%; height: calc(74% - 0px); right: 1px; background-color: rgba(33,33,33,1); color: rgba(200,200,200,1); border: 1px solid black; text-align: center; border-radius: 3px;"></div>
    </div>

    <div id="buflen-audio-file" style="position: absolute; top: calc(36% + 19px); padding-top: 2px; padding-left: 4px; width: 35%; height: calc(10% - 1px); right: 2px; background-color: rgba(53,53,53,1); color: rgba(200,200,200,1); border: 1px solid black; border-radius: 3px;"> Buffer Len 
      <div id="buflen-audio-file-fill" style="position: absolute; padding-left: 2px; top: 1px; width:60%; height: calc(74% - 0px); right: 1px; background-color: rgba(33,33,33,1); color: rgba(200,200,200,1); border: 1px solid black; text-align: center; border-radius: 3px;"></div>
    </div>

    <div id="bufdur-audio-file" style="position: absolute; top: calc(50% + 17px); padding-top: 2px; padding-left: 4px; width: 35%; height: calc(10% - 1px); right: 2px; background-color: rgba(53,53,53,1); color: rgba(200,200,200,1); border: 1px solid black; border-radius: 3px;"> Buffer Dur 
      <div id="bufdur-audio-file-fill" style="position: absolute; padding-left: 2px; top: 1px; width:60%; height: calc(74% - 0px); right: 1px; background-color: rgba(33,33,33,1); color: rgba(200,200,200,1); border: 1px solid black; text-align: center; border-radius: 3px;"></div>
    </div>

    <div id="bufnumc-audio-file" style="position: absolute; top: calc(62% + 18px); padding-top: 2px; padding-left: 4px; width: 35%; height: calc(11% - 3px); right: 2px; background-color: rgba(53,53,53,1); color: rgba(200,200,200,1); border: 1px solid black; border-radius: 3px;"> Buffer NC 
      <div id="bufnumc-audio-file-fill" style="position: absolute; padding-left: 2px; top: 1px; width:60%; height: calc(74% - 0px); right: 1px; background-color: rgba(33,33,33,1); color: rgba(200,200,200,1); border: 1px solid black; text-align: center; border-radius: 3px;"></div>
    </div>

    <div id="bufsamp-audio-file" style="position: absolute; top: calc(74% + 18px); padding-top: 2px; padding-left: 4px; width: 35%; height: calc(10% - 1px); right: 2px; background-color: rgba(53,53,53,1); color: rgba(200,200,200,1); border: 1px solid black; border-radius: 3px;"> Buffer SR 
      <div id="bufsamp-audio-file-fill" style="position: absolute; padding-left: 2px; top: 1px; width:60%; height: calc(74% - 0px); right: 1px; background-color: rgba(33,33,33,1); color: rgba(200,200,200,1); border: 1px solid black; text-align: center; border-radius: 3px;"></div>
    </div>
    <button id="play-stream-socket" style="position: absolute; top: 66%; left: 3px; height: 10%; width: 20%; font-size: 10px; background-color: rgba(53,53,53,1); color: rgba(200,200,200,1); border: 1px solid black; border-radius: 3px; text-align: center; ">Play</button>
    <br><br><br><br><br><br><br>
    <br>add positions in inputs and draw bars in vis - maybe add a filler for the buffer or possibility of adding new one
    <br>SEND  trained FILES?

    <!--<div id="about-file-name" style="position: absolute; left: 1px; top: 1px; border-radius: 3px;  border: 1px solid black; width: 40%; background-color: rgba(32,32,32,1); color: rgba(200,200,200,1); height: 65%; text-align: center;"></div>-->  
    
    <div id="bufferplot" onmousedown="changeColor()" onmouseup="restoreColor()" style="position: absolute; top: 23%; left: 3px; background-color: rgba(32,32,32,1); border: 1px solid #646464; border-radius: 3px; width: calc(61% - 2px); height: 40%;"></div>
  </div>
</div>


  <a id="downloadAnchorElem" style="display:none"></a>

  <!-- The Modal -->
  <div id="amazonmodal" class="modal">

  <!-- Modal content -->
    <div class="modal-content" id="modal-content">
     <span class="close" id="closemodal">&times;</span>
    </div>

  </div>

  <script src="https://unpkg.com/@tensorflow/tfjs"></script>
  <script src="https://unpkg.com/@tensorflow-models/speech-commands"></script>

  <script src="https://unpkg.com/wavesurfer.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.minimap.min.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.cursor.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.timeline.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.spectrogram.min.js"></script>
  
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script src="/static/scripts/xperimus.js"></script>

</body>
</html>