<!DOCTYPE html>
<html lang="en">

<head>
    <title>Xperimus Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/scripts/xperimus.js"></script>

    <link rel="shortcut icon" href="">
</head>

<body>
    <h1>xperimus Research Server Running</h1>
    <form action="{{ url_for('index') }}" , method="POST">
        <div>
            {{ form.username(class_='form-control', 
        placeholder='Username', autocomplete='off',
        autofocus=true)}}

        </div>
        <div>
            {{ form.password(class_='form-control', 
            placeholder='Password')}}

        </div>
        <div>
            {{ form.confirm_pswd(class_='form-control', 
                placeholder='Retype Password')}}

        </div>

        <div>
            {{ form.submit_button }}
        </div>


        {{ form.csrf_token }}
    </form>

    <br><br>
    <h3>Testing Sound File Load</h3>
    <audio controls="controls" autoplay="autoplay" src="/static/sound/tst.wav"></audio>
    <br>
    <button type="button" id="1">JS Function Call</button>
    <button type="button" id="2">Python Function Call</button>
    <br><br>


    {# Comment #}

</body>

</html>