/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(28,28,28,1)/*#f1f1f1; */
  /*border-radius: 3px;*/
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(65,65,65,1); 
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
body {
    background-color: rgba(47,47,47,1);
    font: 400 11px system-ui;
    color: rgba(200,200,200,1);
    overflow-x: hidden;
}

#topmenu {
  position: absolute;
  width: 100%;
  height: 26px;
  left: 0px;
  top: 0px;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  z-index: 99999;
}

#bottommenu {
  position: absolute;
  width: 100%;
  height: 25px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  z-index: 9999;

}
  
#spectogramdisplay {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 25%;
  background-color: rgba(32, 32, 32, 1);
  left: 0px;
}

#firstContainer {
  /*background-color: rgba(39,39,39,1);*/
  background-color: rgba(100,100,100,1);
  position: absolute;
  top: 30px;
  left: 5px;
  border-radius: 3px;
  width: 490px;
  height: 375px;
}

#_secondContainer {
  position: absolute;
  background-color: rgba(100,100,100,1);
  top: 30px;
  border-radius: 3px;
  left: 497px;
  width: 446px;
  height: 140px;
}

#secondContainer {
  background-color: rgba(100,100,100,1);
  position: absolute;
  top: 172px;
  border-radius: 3px;
  left: 497px;
  width: 446px;
  height: 233px;
}

#thirdContainer {
  background-color: rgba(100,100,100,1);
  position: absolute;
  top: 30px;
  border-radius: 3px;
  right: 5px;
  width: 490px;
  height: 558px;
}

#specplot {
  position: absolute;
  left: 1px;
  top: 93px;
  color: rgba(200,200,200,1);
  background-color: rgba(32, 32, 32, 1);
  width: calc(100% - 2px);
  border-radius: 3px;
  height: 440px;
  overflow: auto;
}

#barprog {
  position: absolute;
  left: 1px;
  bottom: 1px;
  width: calc(100% - 2px);
  height: 23px;
  border-radius: 3px;
  z-index: 999;
  background-color:  rgba(32, 32, 32, 1);
}

progress[value]::-webkit-progress-bar {
  background-color: rgba(20,20,20,1) !important;
  border-radius: 2px;
}
progress::-webkit-progress-value {
  border-radius: 3px;
  background-color: rgba(65,65,65,1) !important;
}

.dropdown-btns {
  width: 100%;
  border: 1px solid #888;
  height: 30px;
  background-color: #353535;
  color: rgba(200,200,200,1);
  font-size: 10px;
}

.dropdown-btns:hover {
  background-color: rgba(38,165,164,1);
}


/*button {
    color: #ff8300;
    background-color: rgba(50,50,50,1);
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 3px;
    font-size: 10px;
    margin: 5px;
    padding: 7px;
    width: 50px;
    height: 15px;
}*/

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#sequence1, #sequence2, #sequence3 {
  background-color: red;
  width: 100px;
  height: 25px;
}
  
button:disabled {
    color: #a0a0a0;
    /*border-color: #a0a0a0;*/
}
  
input:disabled {
  color: #a0a0a0;
  border-color: #a0a0a0;
}
  
select:disabled {
  color: #a0a0a0;
  border-color: #a0a0a0;
}
  
select {
  color: rgba(200,200,200,1);
  background-color:rgba(53,53,53,1);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 3px;
  font-size: 14px;
  font-size: 10px;
}

#duration-multiplier {
  position: absolute;
  left: 4px;
  top: 19px;
  height: 29px;
}
  
  input {
    color: rgba(200,200,200,1);
    background-color: rgba(53,53,53,1);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    font-size: 10px;
    position: relative;
    height: 25px;
    width: 90%;
  }
  
  textarea {
    font-size: 14px;
    width: 90%;
    height: 80%;
    border: 2px solid #888;
    border-radius: 3px;
    resize: none;
  }
  
  .footer {
    height: 20%;
  }
  
  .transfer-learn {
    position: absolute;
    top: 40%;
  }
  
  .word-div {
    border-radius: 3px;
    margin: 3px;
  }

  .svgs {
    filter: invert(100%);
    opacity: 70%;
  }
  
  .candidate-word {
    position: relative;
    border: 1px solid gray;
    background-color: rgba(53,53,53,1);
    margin: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid black;
    min-width: 23px;
    margin-right: 5%;
    padding: 7px;
    font-size: 10px;
    display: inline;
    text-align: center;
  }
  
  .candidate-word-active {
    background-color: rgba(38,165,164,1);
    color: black;
  }
  
  /*.candidate-word-label {
    background-color: orange;
    width: 150px;
  }
  
  .candidate-words-hidden {
    display: none !important;
  }*/
  
  #candidate-words {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
  }
  
  #collect-words {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .settings {
    font-size: 13px;
  }
  
  .collapsible-region {
    font-size: 17px;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    border-radius: 3px;
  }
  
  .collapsible-region-inner {
    display: none;
  }
  
  #model-io {
    vertical-align: top;
  }
  
  #dataset-io {
    vertical-align: top;
  }
  
  .start-stop {
    font-size: 17px;
  }
  
  .settings input {
    background-color: rgba(32, 32, 32, 1);
    color: rgba(200,200,200,1);
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 3px;
    margin: 5px;
    font-size: 14px;
  }
  
  .transfer-word {
    display: flex;
    width: 100%;
    justify-content: left;
    vertical-align: middle;
    text-align: center;
  }
  
  .eval-results {
    font-size: 17px;
  }
  
  input[type=checkbox] {
    /*transform: scale(2);*/
  }
  
  #include-audio-waveform {
    margin-left: 20px;
  }
  
  #include-audio-waveform-label {
    font-size: 17px;
  }
  
#title3 {
  position: absolute;
  border-radius: 3px;
  top: 1px;
  left: 1px;
  padding-top: 6px;
  width: calc(100% - 2px);
  height: 22px;
  text-align: center;
  background-color: #202020;
}

#title4 {
  position: absolute;
  border-radius: 3px;
  top: 1px;
  left: 1px;
  padding-top: 6px;
  width: calc(100% - 2px);
  height: 22px;
  text-align: center;
  background-color: #202020;
}

#modelname {
  position: absolute;
  top: 30px;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  left: 1px;
  border-radius: 3px;
  height: 53px;
  padding: 3px;
  width: 27%;
  padding-top: 6px;
  text-align: center;
}

#inputstyle {
  height: 50px;
}

#_worddiv {
  position: absolute;
  left: calc(27% + 8px);
  top: 30px;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  border-radius: 3px;
  height: 53px;
  padding: 3px;
  width: 27%;
  padding-top: 6px;
  text-align: center;
}

#bufferplot {
  position: absolute; 
  top: 39px; 
  left: 2px; 
  background-color: rgba(32,32,32,1); 
  border: 1px solid #646464; 
  border-radius: 3px; 
  width: 707px;
  height: 75px;
}

#attrs1 {
  position: absolute;
  top: 30px;
  right: 1px;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  border-radius: 3px;
  height: 53px;
  padding: 3px;
  width: calc(42% - 3px);
  padding-top: 6px;
  text-align: center;
}


#include-wav {
  position: absolute;
  color: rgba(200,200,200,1);
  background-color: rgba(53,53,53,1);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 3px;
  font-size: 10px;
  height: 29px;
  width: 30%;
  top: 19px;
  left: 38%;
}

#enter-learn-words {
  position: absolute;
  color: rgba(200,200,200,1);
  background-color: rgba(53,53,53,1);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 3px;
  font-size: 10px;
  height: 29px;
  width: 30%;
  top: 19px;
  right: 4px;
}

#fourthContainer {
  position: absolute;
  background-color: rgba(100,100,100,1);
  bottom: 30px;
  border-radius: 3px;
  height: 110px;
  right: 5px;
  width: 490px;
}

#fifthContainer {
  position: absolute;
  background-color: rgba(100,100,100,1);
  height: 362px;
  top: 30px;
  right: 5px;
  width: 776px;
  border-radius: 3px;
}

#sixthContainer {
  position: absolute;
  left: 5px;
  background-color: rgba(100,100,100,1);
  border-radius: 3px;
  width: 938px;
  bottom: 30px;
  height: 293px;
}

#cont16 {
  position: absolute;
  background-color: #202020;
  border-radius: 3px;
  left: 1px;
  top: 32px;
  text-align: center;
  padding-top: 4px;
  height: 45px;
  width: 300px;
}

#cont17 {
  position: absolute;
  background-color: #202020;
  border-radius: 3px;
  right: 1px;
  top: 32px;
  text-align: center;
  padding-top: 4px;
  height: 45px;
  width: 473px;
}

#cont18 {
  position: absolute;
  background-color: #202020;
  border-radius: 3px;
  right: 1px;
  top: calc(35% + 5px);
  text-align: center;
  padding-top: 4px;
  height: calc(13% - 4px);
  width: calc(70% - 1px);
  overflow-y: auto;
}


#fourthdiv1 {
  background-color: rgba(32, 32, 32, 1);
  position: absolute;
  top: 30px;
  left: 1px;
  border-radius: 3px;
  width: 115px;
  height: 46px;
  text-align: center;
  padding: 3px;
  padding-top: 6px;

}
#fourthdiv2 {
  background-color: rgba(32, 32, 32, 1);
  position: absolute;
  top: 30px;
  left: 123px;
  border-radius: 3px;
  width: 115px;
  height: 46px;
  text-align: center;
  padding: 3px;
  padding-top: 6px;
}
#fourthdiv3 {
  background-color: rgba(32, 32, 32, 1);
  position: absolute;
  top: 30px;
  left: 245px;
  border-radius: 3px;
  width: 115px;
  height: 46px;
  text-align: center;
  padding: 3px;
  padding-top: 6px;
}
#fourthdiv4 {
  background-color: rgba(32, 32, 32, 1);
  position: absolute;
  top: 30px;
  right: 1px;
  border-radius: 3px;
  width: 116px;
  height: 46px;
  text-align: center;
  padding: 3px;
  padding-top: 6px;
}

#fourthdiv5 {
  background-color: rgba(32, 32, 32, 1);
  position: absolute;
  top: 30px;
  left: 409px;
  border-radius: 3px;
  width: 74px;
  height: 45px;
  text-align: center;
  padding: 3px;
  padding-top: 6px;
}

#fourthdiv6 {
  background-color: rgba(32, 32, 32, 1);
  position: absolute;
  bottom: 1px;
  left: 1px;
  border-radius: 3px;
  width: calc(100% - 2px);
  height: calc(35% - 2px);
  text-align: center;
}

#epochs {
  background-color: rgba(53,53,53,1);
  color: rgba(200,200,200,1);
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  height: 23px;
  width: 60%;
  font-size: 10px;
}

#fine-tuning-epochs {
  background-color: rgba(53,53,53,1);
  color: rgba(200,200,200,1);
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  height: 23px;
  width: 60%;
  font-size: 10px;
}

#mixnoise {
  color: rgba(200,200,200,1);
  background-color: rgba(53,53,53,1);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 3px;
  font-size: 10px;
  height: 28px;
  width: 80%;
}

#start-transfer-learn {
  background-color: rgba(53,53,53,1);
  color: rgba(200,200,200,1);
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  height: 28px;
  width: 85%;
  font-size: 10px;
}

#clean-graph-data {
  background-color: rgba(53,53,53,1);
  color: rgba(200,200,200,1);
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  height: 28px;
  width: 75%;
  font-size: 10px;
}

#title1 {
  position: absolute;
  border-radius: 3px;
  top: 1px;
  left: 1px;
  padding-top: 6px;
  width: calc(100% - 2px);
  height: 22px;
  text-align: center;
  background-color: #202020;
}

#title2, #title5 {
  position: absolute;
  border-radius: 3px;
  top: 1px;
  left: 1px;
  padding-top: 6px;
  width: calc(100% - 2px);
  height: 22px;
  text-align: center;
  background-color: #202020;
}

#cont1 {
  position: absolute;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  border-radius: 3px;
  height: 45px;
  width: 200px;
  left: 1px;
  top: 30px;
  padding-top: 5px;
  text-align: center;
}

#cont2 {
  position: absolute;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  border-radius: 3px;
  height: 45px;
  width: 28%;
  left: 202px;
  top: 30px;
  padding-top: 5px;
  text-align: center;
  padding-left: 7px;
}

#cont3 {
  position: absolute;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  border-radius: 3px;
  height: 45px;
  width: 135px;
  right: 1px;
  top: 30px;
  padding-top: 5px;
  text-align: center;
  padding-left: 7px;
  font-size: 10px;
}

.startstop {
  background-color: rgba(53,53,53,1);
  color: rgba(200,200,200,1);
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  height: 26px;
  top: 10%;
  margin-top: 3px;
  width: 45%;
  font-size: 10px;
}

#probabil {
  background-color: rgba(53,53,53,1);
  color: rgba(200,200,200,1);
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 3px;
  font-size: 10px;
  height: 19px;
  width: 90%;
  left: 10%;
  margin-top: 4px;
  padding-top: 4px;
  text-align: center;
}

.thresh {
  background-color: rgba(53,53,53,1);
  color: rgba(200,200,200,1);
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 3px;
  font-size: 10px;
  height: 19px;
  width: 88%;
  margin-top: 4px;
  padding-top: 4px;
  text-align: center;
}

#detection-array {
  position: absolute; 
  top: 2px; 
  left: 2px; 
  font-size: 10px; 
  background-color: rgba(53,53,53,1); 
  color: rgba(200,200,200,1); 
  border: 1px solid black; 
  border-radius: 3px; 
  text-align: center; 
  height: 66px;  
  width: 80%; 
  overflow-y: auto;
}

#save-detection-to-file {
  position: absolute;
  bottom: 2px;
  right: 3px;
  width: 18%;
  background-color: rgba(53,53,53,1); 
  color: rgba(200,200,200,1);
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  height: 22px;
  font-size: 10px;
}

#detect-trigger-file {
  position: absolute;
  bottom: 25px;
  right: 3px;
  width: 18%;
  background-color: rgba(53,53,53,1); 
  color: rgba(200,200,200,1);
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  height: 22px;
  font-size: 10px;
}

#detect-trigger-worklet {
  position: absolute;
  bottom: 48px;
  right: 3px;
  width: 18%;
  background-color: rgba(53,53,53,1); 
  color: rgba(200,200,200,1);
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  height: 22px;
  font-size: 10px;
}


#cont4 {
  position: absolute;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  border-radius: 3px;
  width: calc(100% - 2px);
  height: 220px;
  left: 1px;
  top: 81px;
  overflow: auto;
}

#cont5 {
  position: absolute;
  background-color: rgba(32, 32, 32, 1);
  padding-top: 4px;
  color: rgba(200,200,200,1);
  border-radius: 3px;
  width: 713px;
  height: 75px;
  left: 1px;
  top: 150px;
  overflow: hidden;
}

#cont5_ {
  position: absolute;
  width: 98%;
  height: 16%;
  top: 65%;
  left: 4px;
  z-index: 9999;
  border-radius: 3px;
}

#cont6 {
  position: absolute;
  background-color: rgba(0,0,0,0);
  color: white;
  top: 125px;
  left: 4px;
  height: 20px;
  width: 720px;
  z-index: 9999;
}

#cont7 {
  position: absolute;
  border-radius: 3px;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  width: 396px;
  top: 149px;
  left: 1px;
  height: 30px;
  padding-left: 5px;
  padding-top: 8px;
}

#cont8 {
  position: absolute;
  border-radius: 3px;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  width: 30%;
  top: calc(31% + 3px);
  left: 32%;
  height: 7%;
  padding-left: 5px;
  padding-top: 8px;
}

#cont9 {
  position: absolute;
  border-radius: 3px;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  width: 306px;
  top: 149px;
  left: 403px;
  height: 30px;
  padding-left: 5px;
  padding-top: 8px;
}

#cont9_2 {
  position: absolute;
  border-radius: 3px;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  width: 708px;
  top: 188px;
  left: 1px;
  height: 96px;
  padding-left: 5px;
  padding-top: 8px;
}

#contMapping {
  position: absolute;
  border-radius: 3px;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  width: 222px;
  top: 30px;
  left: 715px;
  height: 254px;
  text-align: center;
  padding-top: 8px;
}


#sockettimeline1 {
  position: absolute;
  top: calc(61% - 0px);
  right: 1px;
  width: calc(100% - 2px);
  border-radius: 3px;
  height: 16%;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
}

#my_file {
  display: none;
}

.btnsFile {
  background-color: rgba(53,53,53,1);
  color: rgba(200,200,200,1);
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  /*height: 30px;
  top: 15%;
  width: 45%;
  font-size: 10px;*/
}

#cont9_ {
  position: absolute;
  border-radius: 3px;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  width: calc(98% + 3px);
  height: 64px;
  top: 302px;
  left: 1px;
  padding-left: 5px;
  padding-top: 8px;
}


#cont10_ {
  position: absolute;
  border-radius: 3px;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  width: 713px;  
  top: 30px;  
  height: 110px;
  left: 1px;
  padding-top: 8px;
}

#cont10 {
  position: absolute;
  border-radius: 3px;
  top: 1px;
  left: 1px;
  padding-top: 6px;
  width: calc(100% - 2px);
  height: 22px;
  text-align: center;
  background-color: #202020;
}

#cont11 {
  position: absolute;
  border-radius: 3px;
  background-color: #202020;
  color: rgba(200,200,200,1);
  width: calc(50% - 2px);
  top: 30px;
  left: 1px;
  height: 194px;
  padding-top: 8px;
  overflow: auto;
  text-align: center;
}

#cont12 {
  position: absolute;
  border-radius: 3px;
  background-color: #202020;
  color: rgba(200,200,200,1);
  width: calc(50% - 1px);
  top: 30px;
  right: 1px;
  height: 194px;
  padding-top: 8px;
  overflow: auto;
  text-align: center;
}

.amazonClass {
  background-color: #353535;
  color: rgba(200,200,200,1);
  width: calc(90% + 5px);
  text-align: left;
  border-radius: 3px;
  border: 1px solid black;
  border-style: solid;
  border-width: 1px;
  font-size: 11px;
  margin-bottom: 2px;
  /*border-color: rgba(200,200,200,1);*/
  border-color: black;
}



#cont13 {
  position: absolute;
  border-radius: 3px;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
  width: calc(100% - 2px);
  top: 1px;
  left: 1px;
  height: 45%;
  padding-top: 8px;
  overflow: auto;
  text-align: center;
}
#cont14 {
  position: absolute;
  border-radius: 3px;
  background-color: #202020;
  color: rgba(200,200,200,1);
  width: calc(50% - 2px);
  top: 30px;
  left: 1px;
  height: 72%;
  padding-top: 8px;
  overflow: auto;
  text-align: center;
}
#cont15 {
  position: absolute;
  border-radius: 3px;
  background-color: #202020;
  color: rgba(200,200,200,1);
  width: calc(50% - 1px);
  top: 30px;
  right: 1px;
  height: 72%;
  padding-top: 8px;
  overflow: auto;
  text-align: center;
}

.select1 {
  display: none;
}


.navbar a {
  float: left;
  font-size: 10px;
  color: white;
  /*width: 2%;*/
  text-align: center;
  padding: 7px 7px;
  text-decoration: none;
  z-index: 9999;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 10px;  
  border: none;
  outline: none;
  color: white;
  padding: 7px 7px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(38,165,164,1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.bufferworddiv {
  display:inline;
  position: relative;
  font-size: 11px;  
  color: #c8c8c8;
  background-color: #353535;
  font-family: inherit;
  border: 1px solid black;
  border-radius: 3px;
  width: 95px;
  height: 16px;
  float: left;
  margin: auto;
  margin-top: 1px;
  margin-left: 2px;
}

.bufferworddiv2 {
  display:inline;
  position: relative;
  font-size: 11px;  
  color: #c8c8c8;
  background-color: #353535;
  font-family: inherit;
  border: 1px solid black;
  border-radius: 3px;
  width: 95px;
  height: 18px;
  float: right;
  margin: auto;
  margin-top: 1px;
  margin-right: 5px;

}

.dropdown2 .dropbtn2 {
  position: relative;
  font-size: 11px;  
  color: #c8c8c8;
  background-color: #353535;
  font-family: inherit;
  border: 1px solid black;
  border-radius: 3px;
  width: 98px;
  height: 16px;
  margin-top: 1px;
  margin-left: 112px;
}

.dropdown2:hover .dropbtn2 {
  background-color: rgba(38,165,164,1);
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content2 a:hover {
  background-color: #ddd;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}


#plots {
  position: absolute;
  left: 1px;
  width: calc(50% - 4px);
  height: 170px !important;
  background: rgba(32,32,32,1); 
  border-radius: 3px;
  top: 85px;
  border: 1px solid black;
}
#plots1 {
  position: absolute;
  right: 1px;
  width: calc(50% - 4px);
  height: 170px !important;
  background: rgba(32,32,32,1); 
  border-radius: 3px;
  top: 85px;
  border: 1px solid black;
}

#loss-plot {
  border-radius: 3px;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#accuracy-plot {
  border-radius: 3px;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#performancemode {
  position: absolute; 
  width: 60%; 
  left: 20%; 
  height: 60%; 
  top: 20%; 
  border-radius: 3px; 
  border: 1px solid black; 
  background-color: rgba(200,200,200,1); 
  color: black; 
  text-align: center;
  vertical-align: auto;
}

#aboutAnnot {
  position: absolute; 
  width: 60%; 
  right: 1px; 
  height: calc(100% - 1px); 
  top: 1px; 
  border-radius: 3px; 
  /*border: 1px solid black; */
  background-color: rgba(32,32,32,1); 
  color: rgba(200,200,200,1);
  text-align: center;
  vertical-align: auto;
}

#editor-div {
  
  position: absolute; 
  left: 5px; 
  top: 30px; 
  width: 650px; 
  height: 630px; 
  border-radius: 3px; 
  background-color: grey; 
  border: 1px solid #646464;

}

#socketblink {
  position: absolute; 
  background-color: #2c2c2c; 
  border-radius: 3px; 
  color: rgba(200,200,200,1); 
  left: calc(16% - 4px); 
  top: 55%; 
  border: 1px solid rgba(200,200,200,1); 
  padding-top: 2px; 
  width: 3%; 
  text-align: center; 
  height: calc(2% + 3px);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  padding-top: 10%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgba(60,60,60,1);
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  top: 10%;
  border-radius: 3px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#sendAnnot {
  position: absolute;
  left: 2px;
  top: 2px;
  border: 1px solid black;
  border-radius: 3px;
  width: calc(39% - 2px);
  height: 95%;
  background-color: #353535;
  overflow: auto;
}

.buttonBack1 {
  background-color: rgba(38,165,164,1) !important;
}

.draggable { 
  width: 10%; 
  height: 10%; 
  border: 1px solid rgba(22,22,22,1); 
  background-color: rgba(32,32,32,1);
  border-radius: 3px;
  text-align: center;
  cursor: move;
  vertical-align: middle;
  padding-top: 4px;
  z-index: 9999;
}

.draggableImpulse {
  position: absolute;
  width: 25%;
  right: -30%;
  top: -1px;
  height: calc(100% + 2px);
  border: 1px solid rgba(22,22,22,1); 

  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(38,165,164,1);
}

.rotate1 {
  transform: rotate(-90deg);
  transform-origin: right, top;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin:right, top;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin:right, top;
  position: absolute; 
  background-color:rgba(32,32,32,1); 
  color: rgba(200,200,200,1); 
  border-radius: 3px;
}

.rotate2 {
  transform: rotate(90deg);
  transform-origin: right, top;
  -ms-transform: rotate(90deg);
  -ms-transform-origin:right, top;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin:right, top;
  position: absolute; 
  background-color:rgba(32,32,32,1); 
  color: rgba(200,200,200,1); 
  border-radius: 3px;
}

::placeholder {
  color: rgba(200,200,200,1);
  opacity: 1; /* Firefox */
}


#sendannotbtn:active {
  background-color: aqua;
}

#_wrapper {
  position:relative;
  height:200px;
  width:300px;
  background-color:#fff;
  margin-top:30px;
  color: black;
}  
#_list {
    margin:0px;
    padding:0px;
    position:absolute;
    bottom:0px; 
    left:0px;
    width:inherit;
    overflow:hidden;
    overflow-y:scroll;
}

#code {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#splashscreen {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(38,38,38,1);
  display: block;
  z-index: 999999;
}

#img {
  position: absolute;
  width: 40%;
  height: 40%;
  left: 30%;
  top: 30%;
  text-align: center;
  border: 1px solid black;
}

#top-splash {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 26px;
  background-color: #202020;
}

#bottom-splash {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 26px;
  background-color: #202020;
}




