body {
    background-color: rgba(47,47,47,1);
    font: 400 11px system-ui;
    color: rgba(200,200,200,1);
}

#topmenu {
  position: absolute;
  width: 100%;
  height: 25px;
  left: 0px;
  top: 0px;
  background-color: rgba(32, 32, 32, 1);
  color: rgba(200,200,200,1);
}
  
#spectogramdisplay {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 25%;
  background-color: rgba(32, 32, 32, 1);
  left: 0px;
}

#firstContainer {
  /*background-color: rgba(39,39,39,1);*/
  background-color: red;
  position: absolute;
  top: 30px;
  left: 5px;
  border-radius: 3px;
  width: 40%;
  height: 40%;
}

#secondContainer {
  background-color: red;
  position: absolute;
  top: 45%;
  border-radius: 3px;
  left: 5px;
  width: 40%;
  height: 50%;
}

button {
    color: #ff8300;
    background-color: rgba(50,50,50,1);
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 3px;
    font-size: 10px;
    margin: 5px;
    padding: 7px;
    width: 80px;
    height: 30px;
}

#probabil {
  color: #ff8300;
  background-color: rgba(50,50,50,1);
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 3px;
  font-size: 13px;
  margin: 5px;
  padding: 15px;
  width: 18%
}
  
  button:disabled {
    color: #a0a0a0;
    border-color: #a0a0a0;
  }
  
  input:disabled {
    color: #a0a0a0;
    border-color: #a0a0a0;
  }
  
  select:disabled {
    color: #a0a0a0;
    border-color: #a0a0a0;
  }
  
  select {
    color: white;
    background-color:rgba(53,53,53,1);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 2px;
    font-size: 14px;
    margin: 5px;
    padding: 15px;
  }
  
  .transfer-learn-section input {
    color: #ffffff;
    background-color: rgba(53,53,53,1);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    font-size: 12px;
    margin: 5px;
    padding: 15px;
    position: relative;
  }
  
  textarea {
    font-size: 14px;
    width: 90%;
    height: 80%;
    border: 2px solid #888;
    border-radius: 3px;
    resize: none;
  }
  
  .footer {
    height: 20%;
  }
  
  .transfer-learn {
    position: absolute;
    top: 40%;
  }
  
  .word-div {
    border-radius: 3px;
    margin: 3px;
  }
  
  .candidate-word {
    border: 1px solid gray;
    background-color: rgba(30,30,30,1);
    margin: 5px;
    border-radius: 3px;
    width: 2%;
    padding: 15px;
    text-align: center;
  }
  
  .candidate-word-active {
    border: 2px solid gray;
    background-color: rgba(0,250,0,1);
  }
  
  .candidate-word-label {
    background-color: orange;
    width: 150px;
  }
  
  /*.candidate-words-hidden {
    display: none !important;
  }*/
  
  #candidate-words {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
  }
  
  #collect-words {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  #plots {
    display: flex;
  }
  
  .settings {
    font-size: 13px;
  }
  
  .collapsible-region {
    font-size: 17px;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    border-radius: 3px;
  }
  
  .collapsible-region-inner {
    display: none;
  }
  
  #model-io {
    vertical-align: top;
  }
  
  #dataset-io {
    vertical-align: top;
  }
  
  .start-stop {
    font-size: 17px;
  }
  
  .settings input {
    color: rgba(250,250,250,1);
    background-color: rgba(50,50,50,1);
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 3px;
    margin: 5px;
    font-size: 14px;
  }
  
  .transfer-word {
    display: flex;
    width: 100%;
    justify-content: left;
    vertical-align: middle;
    text-align: center;
  }
  
  .eval-results {
    font-size: 17px;
  }
  
  input[type=checkbox] {
    transform: scale(2);
  }
  
  #include-audio-waveform {
    margin-left: 20px;
  }
  
  #include-audio-waveform-label {
    font-size: 17px;
  }
  